<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rushing_stat.name %>
</p>

<p>
  <b>Rushing att:</b>
  <%= @rushing_stat.rushing_att %>
</p>

<p>
  <b>Rushing yards:</b>
  <%= @rushing_stat.rushing_yards %>
</p>

<p>
  <b>Rushing att avg:</b>
  <%= @rushing_stat.rushing_att_avg %>
</p>

<p>
  <b>Rushing long:</b>
  <%= @rushing_stat.rushing_long %>
</p>

<p>
  <b>Rushing td:</b>
  <%= @rushing_stat.rushing_td %>
</p>


<%= link_to 'Edit', edit_rushing_stat_path(@rushing_stat) %> |
<%= link_to 'Back', rushing_stats_path %>
